.change-date {
    grid-row: 2/3;
    grid-column: 4/6;
    justify-self: start;
    
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    font-family: $font-roboto;
    font-weight: 150;
    color: white;
    
    background-color: transparent;
    border: none;
    
    transform: rotate(-69deg) translate(0, -70px);
    
    i {
        margin-right: 15px;
        margin-bottom: 20px;
    }
    
    &:focus {
        outline: none;
    }
}