.clock {
    grid-row: 3/4;
    grid-column: 2/10;
    background-color: $color-grey-one;
    text-align: left;
    height: 83%;
    width: 100%;
    align-self: end;
    
    clip-path: polygon( 7% 0, 100% 0, 93% 100%, 0% 100%);
    -webkit-clip-path: polygon( 7% 0, 100% 0, 93% 100%, 0% 100%);
    
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 275px));
    grid-column-gap: 3px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    
    
    
    
    &__box {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        
    }
    
    &__title {
        font-size: 22px;
        line-height: 25px;
        color: $color-yellow-one;
        font-family: "Roboto Condensed";
    }
    
    &__amount {
        color: white;
        font-size: 90px;
        font-weight: bold;
        line-height: 115px;
        font-family: "Roboto Condensed";
    }
}